#welcome-content {
    font-family: Avenir;
    margin: auto;
  }

  
  #welcome-text {
      margin-top: 100px;
  }
.btn-apply {
	color: #fff;
	background-color: #3891b8;
	border-radius: 15px;
	padding: 20px 30px;
    font-size: 20px;
    margin: auto;
  }
p, h1, h3 {
    font-family: Avenir;
    color: white;
    font-size: 30px;
    text-align: center;
  }
#begin-button {
	margin-top: 50px;
}
