@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }
#f {
    margin: 0 auto;
    max-width: 320px;
    background-color: #1f1f1f !important; 
} 
#loginform{
    margin:0 auto;
    max-width:320px;
    background-color: #1f1f1f !important; 
}
#table-line{
    background-color: #1f1f1f !important; 
    max-width: 320px;
    margin: 0 auto;
}
#tbody-line{
    background-color: #1f1f1f !important; 
    max-width: 320px;
    margin: 0 auto;
}
#tr-line{
    background-color: #1f1f1f !important; 
    max-width: 320px;
    margin: 0 auto;
}
#td-line{
    background-color: #1f1f1f !important; 
    max-width: 320px;
    margin: 0 auto;
}
body {
    background-color: #1f1f1f !important; 
}

p {
    font-family: Avenir;
    color: white;
    font-size: 30px;
    text-align: center;
}

h2 {
    font-family: Avenir;
    color: white;
    font-size: 30px;
    text-align: center;
}

.btn-submit {
	color: #fff;
    background-color: #3891b8;
    width: 150px;
    text-align: center;
    border-radius: 15px;
    margin: 25px;
    font-size: 20px;
}
/* input {
    color: #fff;
    background-color: #3891b8;
    width: 150px;
    text-align: center;
    border-radius: 15px;
    margin: 25px;
    font-size: 20px;
} */
#submit-button {
    color: #fff;
    background-color: #3891b8;
    width: 150px;
    text-align: center;
    border-radius: 15px;
    margin: 25px;
    font-size: 20px;
}
a {
    /* color: white; */
    font-family: Avenir;
  }

#email-label {
    color: #fff
}