.btn-admin {
    color: #fff;
    background-color: #3891b8;
    width: 250px;
    border-radius: 15px;
    padding: 20px 30px;
    margin: 25px;
    font-size: 20px;
}

.btn-back {
	color: #fff;
    background-color: #3891b8;
    width: 150px;
    text-align: center;
    border-radius: 15px;
    margin: 25px;
    font-size: 20px;
}

body {
    background-color: #1f1f1f !important; 
}




